a:link {
    text-decoration: none;
}

#votebox {position:relative;width:400px; height: 100px;border-style: none;border-width:1px;border-radius: 10px;margin-bottom:20px;background: cornsilk;}
#votebox:hover {background: powderblue;}
div.hidebutton {position: absolute;top:2px; right: 6px;}
div.voteheader {margin-left:10px;margin-right:10px;padding-top:10px;font-size:14px;}

div.clickvote {position:absolute;text-align:right;bottom:5px;right:10px; font-size: small;}
