<template name="signup">
    <div name="aeciframe" id="aeciframe" style="display: {{display 'aeciframe'}}">
        Please verify your electoral enrolment with the Australian Electoral Commission below:<br />
        <div style="width: 620px;"><div style="border: solid; border-width: 3px; border-color: red; overflow: hidden; width: 630px;">
            <iframe scrolling="no" src="https://oevf.aec.gov.au/" style="border: 0px none; margin-left: -20px; height: 1000px; margin-top: -216px; width: 990px;">
            </iframe>
            </div>
            1. Please fill out your details above and click "Verify Enrolment". <br />2. Select all the text inside the red box and copy the text.<br />3. If you have problems verifying your enrolment, please <a href="http://www.aec.gov.au/">visit the AEC for help</a>.
            <button class="btn btn-primary" id="copied" style="float: right;">I have copied my verification data above</button>
        </div>

    </div>

    <div id="aecdatainput" style="display: {{display 'aecinput'}}">
    <form class="main form page">
        <textarea name="usertext" id="usertext" value="" placeholder="Paste text here." class="form-control" rows="6"></textarea>
        <div class="btn btn-primary" id="p1" style="float: left; margin-right: 10px;">Go Back</div><input type="submit" value="Submit" class="btn btn-primary"/>
    </form>

    </div>
    <div id="dispayaecdata" style="display: {{display 'aecconfirm'}}">
        <h2>Your Registered Details</h2>
        <div id="userdata">
    <b>Given Name(s):</b> {{data 'givenName'}}<br />
    <b>Family Name:</b> {{data 'familyName'}}<br />
    <b>Locality:</b> {{data 'locality'}}<br />
    <b>Local Council:</b> {{data 'localCouncil'}}<br />
    <b>Federal Division:</b> {{data 'federalDivision'}}<br />
    <b>State District:</b> {{data 'stateDistrict'}}<br />
    <b>Local Ward</b>: {{data 'ward'}}<br />
            Your details have been registered. You may now vote on PopVote.<br />
            Your details will be further verified by a Justice of the Peace.
        </div>
        <div class="btn btn-primary" id="done" style="float: right;">Start Voting</div>
    </div>

</template>