<template name="submitVote">
        <form class="main form page">
            <div class="form-group">
                <label class="control-label" for="title">Vote Title</label>
                <div class="controls">
                    <input maxlength="175" name="title" id="title" type="text" value="" placeholder="Please type in the question you would like people to vote on" class="form-control"/>
                    <input maxlength="40" name="jurisdiction" id="jurisdiction" type="text" value="" placeholder="For example: Manningham Council" class="form-control"/>
                    <input maxlength="200" name="officiallink" id="officiallink" type="text" value="" placeholder="For example: http://aph.gov.au/sdfasdfsafdasf/sfgsafdgdsg.html" class="form-control"/>
                    <textarea name="problem" id="problem" value="" placeholder="What is the problem that will be solved by this vote, or why does a decision need to be made?" class="form-control" rows="4"></textarea>
                    <textarea name="votebody" id="votebody" value="" placeholder="Enter the full details of what you want people to vote on. " class="form-control" rows="6"></textarea>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>

</template>