<template name="submitVote">
        <form class="main form page">
            <div class="form-group">
                <label class="control-label" for="title">Vote Title</label>
                <div class="controls">
                    <input maxlength="360" name="title" id="title" type="text" value="" placeholder="Please type in the question you would like people to vote on" class="form-control"/>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>

</template>