<template name="voteInfoPage">
    {{> voteItem}}
    {{> voteInspector}}
</template>

<template name="voteInspector">
   <div id="authordetails"> {{author}} created this vote {{livestamp submitted}}.</div><br />
    <div id="votecounts">YES VOTES: {{yesvotes}} | DONKEY VOTES: {{donkeyvotes}} | NO VOTES: {{novotes}}</div><br />
    <div id="votejurisdiction">VOTE JURISDICTION: {{jurisdiction}}</div><br />
    <div id="officialdata"> <a href="{{officiallink}}">Official Link ({{officiallink}})</a></div><br />
    <div id="votedescription">Heading: {{title}}<br />Problem: {{problem}} <br /> Full Text: {{votebody}}</div>

</template>

<template name="voteComments">
    Vote Comments Template
</template>