<template name="voteItem">
<div id="votebox" class="{{juristype}}">
    <div class="meta">{{jurisname}} <a href="{{officiallink}}">{{officialStatus}}</a></div>
    <div class="title">{{title}}</div>
    <div class="favourite">&#9734;</div>
    <div class="comments"><a href="{{pathFor 'commentList'}}"><i class="fa fa-comment-o"></i></a> </div>
    <div class="info"><a href="{{pathFor 'voteInfoPage'}}"><i class="fa fa-info"></i></a></div>
    <div class="report"> <img src="cop.png" width="20px;" height="auto;" /></div>
    <div class="voteno"><a href="#" class="novote">VOTE NO</a> ({{novote}})</div>
    <div class="voteyes"><a href="#" class="yesvote">VOTE YES</a> ({{yesvote}})</div>

</div>

</template>