#headdata {

    display: block;
}

#yield {
    margin-left: 10px;
    margin-right: 5px;
}

#loginbuttons {
    display:inline;
}
#loginbuttons li {
    display: inline;}

#header {}

#style-one {
    border: 0;
    margin-bottom: -10px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}