#headdata {
    width: 402px;
    height: 20px;
    display: block;
    margin-left: 10px;
    margin-top: 5px;
}

#yield {
    margin-left: 10px;
    margin-right: 5px;
    width:402px;
    overflow: visible;
    border-style: dashed;
    border-width: thin;
}

#loginbuttons {
    display:inline;
}
#loginbuttons li {
    display: inline;}