#authordetails {
    display: block;
    margin-bottom: 4px;

}

#votecounts {
    display: block;
    margin-bottom: 4px;
}

#votejurisdiction {
    display: block;
    margin-bottom: 4px;
}

#officialdata {
    display: block;
    margin-bottom: 4px;
}

#votedescription {
    display: block;
    margin-bottom: 4px;
}

div.controls input {margin-bottom: 5px; width: 600px;}
div.controls textarea {margin-bottom: 5px; width: 600px;}