#authordetails {
    display: block;
    margin-bottom: 4px;
    font-size: small;

}

#votecounts {
    display: block;
    margin-bottom: 4px;
}

#votejurisdiction {
    display: block;
    margin-bottom: 14px;
}

#officialdata {
    display: block;
    margin-bottom: 14px;
}

#votedescription {
    display: block;
    margin-bottom: 14px;
}

#details {
    display: block;
    margin-bottom: 14px;
}

div.controls input {margin-bottom: 5px; width: 600px;}
div.controls textarea {margin-bottom: 5px; width: 600px;}

#voteinfo {
width:402px;
overflow: visible;
border-style: dashed;
border-width: thin;}